@page "/"
<PageTitle>Начало</PageTitle>

<center><h1 style="text-align:center;  background-color: rgba(255, 255, 255, 0.5); padding: 10px;   color: black;">Система за онлайн гласуване</h1></center>

<p style="text-align:center;  background-color: rgba(255, 255, 255, 0.7); padding: 10px;   color: black;"> <b>Най-новата и модерна система за онлайн анонимно гласуване. Благодарение на нея не е нуждо да напускате дома си,за да може да гласувате. При това лесно, бързо и просто. Улеснява се участието на обществото в гласуването и участието в политиката.
</b></p><br />
<br />


@*<iframe width="560" height="315" src="https://www.youtube.com/embed/UikEVO8uQMw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
*@
