button {
    cursor: pointer;
    outline: none;
}

    button.outline {
        position: relative;
        z-index: 3;
        background: transparent;
        color: #1172c4;
        font-size: 14px;
        border-color: #1172c4;
        border-style: solid;
        border-width: 2px;
        border-radius: 22px;
        padding: 10px 40px;
        text-transform: uppercase;
        font-weight: 550;
        transition: all 0.2s linear;
    }

        button.outline a {
            text-decoration: none;
        }

        button.outline:hover {
            color: white;
            background: #1172c4;
            border-color: white;
            transition: all 0.2s linear;
        }

        button.outline:active {
            border-radius: 22px;
        }
        button.outline.red {
            color: red;
            border-color: red;
        }

            button.outline.red:hover {
                background-color: red;
                border-color: white;
                color: white;
            }

        button.outline.green {
            color: green;
            border-color: green;
        }

            button.outline.green:hover {
                background-color: green;
                border-color: white;
                color: white;
            }

